# User-specific stuff
.idea/

*.iml
*.ipr
*.iws

# IntelliJ
out/
# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

**/build/

# Common working directory
run/
runs/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/src/generated/resources/.cache/1ad4d872663950cce50db5a587bfdde71544d122
/src/generated/resources/.cache/1d28d2071169d7a16e288e6666d86874041771b6
/src/generated/resources/.cache/2bfe949b31c39fc64d7ab03a21d4b3aca4f9e9e8
/src/generated/resources/.cache/9f21b9db0c4e51a3288f7f7229cb2739b456dad6
/src/generated/resources/.cache/69af3a8bef8090cbb2ecc2520293be1b290d3e75
/run-data/logs/2025-03-27-2.log.gz
/run-data/logs/2025-03-27-3.log.gz
/run-data/logs/2025-03-27-4.log.gz
/run-data/logs/2025-03-27-5.log.gz
/run-data/logs/2025-03-27-6.log.gz
/run-data/logs/2025-03-27-7.log.gz
/run-data/logs/2025-03-27-8.log.gz
/run-data/logs/2025-03-27-9.log.gz
/src/generated/resources/.cache/11127ce140851209d42c7ee830aa9e3fad3859b1
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/acacia_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/acacia_leaves.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/acacia_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/acacia_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/acacia_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/amethyst_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/ancient_debris.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/andesite.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/bamboo_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/bamboo_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/bamboo_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/barrel.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/basalt.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/birch_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/birch_leaves.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/birch_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/birch_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/birch_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/black_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/black_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/black_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/black_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/black_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/black_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/black_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/blackstone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/blue_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/blue_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/blue_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/blue_ice.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/blue_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/blue_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/blue_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/blue_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/bone_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/bookshelf.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/bricks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/brown_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/brown_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/brown_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/brown_mushroom.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/brown_mushroom_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/brown_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/brown_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/brown_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/brown_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/calcite.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/carved_pumpkin.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cherry_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cherry_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cherry_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cherry_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/clay.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/coal_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cobblestone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cobweb.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/crimson_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/crimson_fungus.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/crimson_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/crimson_roots.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/crimson_stem.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/crimson_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/crying_obsidian.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cyan_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cyan_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cyan_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cyan_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cyan_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cyan_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/cyan_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/dark_oak_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/dark_oak_leaves.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/dark_oak_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/dark_oak_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/dark_oak_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/dark_prismarine.json
/run-data/logs/debug-1.log.gz
/run-data/logs/debug-2.log.gz
/run-data/logs/debug-3.log.gz
/run-data/logs/debug-4.log.gz
/run-data/logs/debug-5.log.gz
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/deepslate.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/diamond_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/diorite.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/dirt.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/dried_kelp_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/dripstone_block.json
/src/generated/resources/.cache/e30bedeeefccc8fa6812b7e1e9863c4eb452a9f1
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/emerald_block.json
/src/generated/resources/assets/rechiseled_chipped/lang/en_us.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/end_stone.json
/src/generated/resources/.cache/fcc172110a81edd7b400d7e7b097d679c6cc54ac
/run-data/config/fml.toml
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gilded_blackstone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/glowstone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gold_block.json
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/granite.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gravel.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gray_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gray_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gray_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gray_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gray_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gray_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/gray_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/green_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/green_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/green_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/green_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/green_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/green_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/green_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/hay_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/ice.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/iron_bars.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/iron_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/jack_o_lantern.json
/run-data/config/jei/jei-client.ini
/run-data/config/jei/jei-colors.ini
/run-data/config/jei/jei-debug.ini
/run-data/config/jei/jei-mod-id-format.ini
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/jungle_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/jungle_leaves.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/jungle_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/jungle_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/jungle_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/ladder.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lantern.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lapis_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_blue_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_blue_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_blue_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_blue_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_blue_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_blue_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_blue_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_gray_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_gray_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_gray_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_gray_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_gray_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_gray_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/light_gray_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lime_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lime_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lime_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lime_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lime_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lime_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lime_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/lodestone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/magenta_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/magenta_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/magenta_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/magenta_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/magenta_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/magenta_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/magenta_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/magma_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mangrove_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mangrove_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mangrove_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mangrove_roots.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mangrove_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/melon.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/moss_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mossy_cobblestone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mossy_stone_bricks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mud.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mud_bricks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/mushroom_stem.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/nether_bricks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/nether_sprouts.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/nether_wart_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/netherite_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/netherrack.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/oak_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/oak_leaves.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/oak_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/oak_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/oak_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/obsidian.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/ochre_froglight.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/orange_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/orange_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/orange_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/orange_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/orange_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/orange_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/orange_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/packed_ice.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/packed_mud.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pearlescent_froglight.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pink_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pink_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pink_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pink_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pink_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pink_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pink_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pointed_dripstone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/prismarine.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/pumpkin.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/purple_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/purple_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/purple_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/purple_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/purple_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/purple_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/purple_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/purpur_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/quartz_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/raw_copper_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/raw_gold_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/raw_iron_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_mushroom.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_mushroom_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_nether_bricks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_sandstone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/red_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/redstone_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/redstone_lamp.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/redstone_torch.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/redstone_wall_torch.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/sand.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/sandstone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/sea_lantern.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/shroomlight.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/smooth_stone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/snow_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/soul_lantern.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/soul_sand.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/sponge.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/spruce_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/spruce_leaves.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/spruce_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/spruce_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/spruce_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stone.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_acacia_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_birch_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_cherry_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_crimson_stem.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_dark_oak_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_jungle_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_mangrove_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_oak_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_spruce_log.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/stripped_warped_stem.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/torch.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/tuff.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/verdant_froglight.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/vine.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/wall_torch.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/warped_door.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/warped_fungus.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/warped_planks.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/warped_roots.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/warped_stem.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/warped_trapdoor.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/warped_wart_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/waxed_copper_block.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/waxed_exposed_copper.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/waxed_oxidized_copper.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/waxed_weathered_copper.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/white_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/white_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/white_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/white_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/white_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/white_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/white_wool.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/yellow_carpet.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/yellow_concrete.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/yellow_glazed_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/yellow_stained_glass.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/yellow_stained_glass_pane.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/yellow_terracotta.json
/src/generated/resources/data/rechiseled_chipped/chiseling_recipes/yellow_wool.json
